<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <% if (htmlWebpackPlugin.options.themeSetting && htmlWebpackPlugin.options.themeSetting.fontface && htmlWebpackPlugin.options.themeSetting.isDevelopment != 'development' && htmlWebpackPlugin.options.themeSetting.fontface == true) { %><link href="./css/font.css" rel="stylesheet" /><% } %>
        <% if (htmlWebpackPlugin.options.themeSetting && htmlWebpackPlugin.options.themeSetting.fontface && htmlWebpackPlugin.options.themeSetting.fontface == true) { %><script src="./js/font.js"></script><% } %>
        <% if (htmlWebpackPlugin.options.files && htmlWebpackPlugin.options.files.styles && htmlWebpackPlugin.options.themeSetting.isDevelopment != 'development') { %><% for (let style in htmlWebpackPlugin.options.files.styles) { %><link href="<%= htmlWebpackPlugin.options.files.styles[style] %>" rel="stylesheet" />
        <% } %><% } %><title><%= htmlWebpackPlugin.options.title || 'untitled page' %></title>
    </head>
    <% if(htmlWebpackPlugin.options.themeSetting && htmlWebpackPlugin.options.themeSetting.body && htmlWebpackPlugin.options.themeSetting.body.classes) { %><body class="<%= htmlWebpackPlugin.options.themeSetting.body.classes %>"><% } else { %><body><% } %>

        <!-- <%= require('html-loader!../header.html') %> -->

        <% if (htmlWebpackPlugin.options.files && htmlWebpackPlugin.options.files.scripts) { %><% for (let script in htmlWebpackPlugin.options.files.scripts) { %><script src="<%= htmlWebpackPlugin.options.files.scripts[script] %>"></script>
        <% } %><% } %>
    </body>
</html>
